@charset "UTF-8";
h1 {
    text-align: center;
    border-style: solid;
    border-color: #000000;
    margin-left: 275%;
    display: center !important;
    width: 15vw !important;
    position: relative;
    -o-object-fit: cover;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}


#displayedVideo {
    display: center !important;
    width: 98vw !important;
    position: relative;
    height: 90vh;
    -o-object-fit: cover;
    left: 0px;
}

#lastVideo {
    display: center;
    width: 98vw !important;
    position: relative;
    height: 90vh;
    -o-object-fit: cover;
    left: 0px; 
}
.centered_text {
    margin-top: -10vh;
    position: absolute;
    text-align: center;
    justify-content: center;
}

#show4 {
  animation: cssAnimation 0s 8s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}


#show415 {
  animation: cssAnimation 0s 18s forwards;
  visibility: hidden;
}

.nextline {
	clear: both; 
	display: block;
	text-align: center;
    justify-content: center;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}